.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #ffffff;
  padding: 0em;
  float: none;
  text-align: left;
  border: none;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  z-index: 1;
}